@indigo_50 : #E8EAF6;
@indigo_100 : #C5CAE9;
@indigo_200 : #9FA8DA;
@indigo_300 : #7986CB;
@indigo_400 : #5C6BC0;
@indigo_500 : #3F51B5;
@indigo_600 : #3949AB;
@indigo_700 : #303F9F;
@indigo_800 : #283593;
@indigo_900 : #1A237E;

@BlueGrey_50 : #ECEFF1;
@BlueGrey_100 : #CFD8DC;
@BlueGrey_200 : #B0BEC5;
@BlueGrey_300 : #90A4AE;
@BlueGrey_400 : #78909C;
@BlueGrey_500 : #607D8B;
@BlueGrey_600 : #546E7A;
@BlueGrey_700 : #455A64;
@BlueGrey_800 : #37474F;
@BlueGrey_900 : #263238;

@Grey_50 : #FAFAFA;
@Grey_100 : #F5F5F5;
@Grey_200 : #EEEEEE;
@Grey_300 : #E0E0E0;
@Grey_400 : #BDBDBD;
@Grey_500 : #9E9E9E;
@Grey_600 : #757575;
@Grey_700 : #616161;
@Grey_800 : #424242;
@Grey_900 : #212121;

@Teal_50 : #E0F2F1;
@Teal_100 : #B2DFDB;
@Teal_200 : #80CBC4;
@Teal_300 : #4DB6AC;
@Teal_400 : #26A69A;
@Teal_500 : #009688;
@Teal_600 : #00897B;
@Teal_700 : #00796B;
@Teal_800 : #00695C;
@Teal_900 : #004D40;

body{
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
#react-root{
  min-width: 1430px;
}
.app-root{
  padding-left: 240px;
}
.nl-space{
  width: 8px;
  height: 100%;
  display: none;
  position: absolute;
  right: -8px;
}
#navbarLeft{
  //height: 900px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: left 0.2s ease-out;
  transform: translate3d(0,0,0);
  &.nbarleft-min{
    &:hover{
      left : 0;
    }
    left: -240px;
  }
}
.nbarleft-min{
  &:hover{
    .nl-space{
      display: none;
    }
  }
  .nl-space{
    display: block;
  }
}
.md-container-16{
  padding: 16px;
}
.md-container-24{
  padding: 24px;
}
#nLeft-title{
  //background: @indigo_50;
  border-bottom: 1px solid @Grey_300;
  width: 240px;
}
.img-block-48{
  &:before{
    content: " ";
    display: block;
    width: 48px;
    height: 48px;
    background: @Grey_100;
  }
}
#nLeft-logo{

}
.md-title-1{
  display: inline-block;
  padding: 16px;
  //font-size: 14px;
  line-height: 16px;
}
#nLeft-nav{
  padding-top: 8px;
}
.md-nav{
  line-height: 24px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li{
    position: relative;
    display: block;
    a{
      position: relative;
      display: block;
      padding: 16px;
      color: @Grey_500;
      &:hover{
        text-decoration: none;
      }
      &:focus{
        text-decoration: none;
      }
    }
    &.active{
      a{
        //background: @Grey_200;
        color: @Teal_600;
      }
    }
  }
}
.z-height-1{
  box-shadow: 0 1px 6px 0px rgba(0,0,0,0.12),0 1px 6px 0px rgba(0,0,0,0.12);
}
#tpl-block{
  // width: 900px;
  // margin: 0 auto;
}
.table-container{
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}
.table-header{
  line-height: 24px;
  padding: 20px 24px;
  margin-bottom: 1px;
  .table-header-title{
    width: 70%;
    text-align: left;
  }
}
.table-part-3{
  display: inline-block;
  width: 30%;
}
.table-part-7{
  display: inline-block;
  width: 70%;
}
.text-right{
  text-align: right;
}
.md-table{
  line-height: 16px;
  tr>td:first-child,tr>th:first-child{
    padding-left: 24px;
  }
  tr + tr {
    border-top: 1px solid @Grey_200;
  }
  thead{
    border-bottom: 1px solid @Grey_200;
  }
  tbody{
    tr{
      &:hover{
        background: @Grey_100;
      }
    }
  }
  th{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  td{
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.table-toolbar{
  display: inline-block;
  margin-left: 24px;
  vertical-align: top;
}
.table-footer{
  //text-align: right;
  border-top: 1px solid @Grey_200;
  line-height: 24px;
  padding: 16px 24px;
}
.md-button{
  display: inline-block;
  width: 88px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.md-btn-text{
  &:hover{
    box-shadow: 0 1px 6px 0px rgba(0,0,0,0.12),0 1px 6px 0px rgba(0,0,0,0.12);
  }
}
.md-btn-primary{
  color: @Teal_900;
}
.v-align-top{
  vertical-align: top;
}
.material-icons{
  vertical-align: top;
}
.tool-button{
  display: inline-block;
  vertical-align: top;
  color: @Teal_600;
  margin-top: 56px;
  margin-left: 72px;
  .material-icons{
    font-size: 56px;
  }
}
.md-thead-1{
  width: 61px;
  padding-right: 24px;
}
.md-thead-2{
  padding-right: 24px;
}
.md-thead-3{
  padding-right: 56px;
  width: 184px;
}
.canvas-container{
  margin-left: 24px;
  display: inline-block;
  vertical-align: top;
}
#preview{
  margin: 20px 0;
}
.canvas-part{
  border: 1px solid @Grey_200;
  line-height: 60px;
  text-align: center;
}
.img-inline-24{
  &:before{
    content: " ";
    width: 24px;
    height: 24px;
    background: @Grey_100;
    display: inline-block;
    vertical-align: top;
  }
}
.md-icon-title{
  display: inline-block;
  padding-left: 16px;
}


.z-height-4{
  //position: relative;
}
.z-height-4:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 1px 12px 2px rgba(0,0,0,0.24); //,0 1px 6px 0 rgba(0,0,0,0.12)
  z-index: -1;
}
.table-part-12{
  text-align: center;
  display: inline-block;
  width: 100%;
}
/******/

#tpl-canvas{
  width: 840px;
  display: inline-block;
  vertical-align: top;
}
#tpl-tool{
  display: inline-block;
  margin-left: 24px;
  width: 280px;
  vertical-align: top;
  border: 1px solid @Grey_200;
}
.tpl-line-1{
  position: relative;
  &:hover{
    box-shadow: 0 1px 6px 0px rgba(0,0,0,0.12),0 1px 6px 0px rgba(0,0,0,0.12);
    z-index: 10;
  }
  span{
    padding: 10px 16px;
    line-height: 24px;
  }
}
.tpl-line-input{
  position: relative;
  padding: 0 16px;
  input{
    border: none;
    width: 100%;
    border-bottom: 2px solid @Grey_200;
    padding: 8px 0;
    line-height: 16px;
    &:focus{
      outline: none;
      border-bottom: 2px solid @Teal_900;
    }
  }
}
.tpl-line-1 + .tpl-line-input{
  margin-top: 24px;
}
.tpl-line-input + .tpl-line-input {
  margin-top: 16px;
}
.tpl-line-button{
  margin: 16px;
  margin-top: 32px ;
}

/**/
#comp_bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //height: 8px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.8s ;
  transform: translate3d(0,0,0);
  &:hover{
    opacity: 1;
    box-shadow: 0 1px 6px 0px rgba(0,0,0,0.12),0 1px 6px 0px rgba(0,0,0,0.12);
    #comps{
      display: block;
    }
    #compbar-space{
      display: none;
    }
  }
}
#compbar-space{
  height: 8px;
}
#comps{
  display: none;
}

/****/
#toolbar{
  position: fixed;
  width: 256px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  //height: 100%;
  background: #fff;
  z-index: 10;
}



// .block-1{
//   position: relative;
//   width: 200px;
//   height: 80px;
//   margin: 10px auto;
// }
// .block-1:after{
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12),0 1px 6px 0 rgba(0,0,0,0.12);
//   opacity: 0;
//   transform: translate3d(0, 0, 0);
//   transition: opacity 0.1s ease-out;
// }
// .block-1:hover:after{
//   opacity: 1;
// }
